.aboutMe {
    background: rgba(32, 32, 32, 1);
    max-width: 1280px;
    width: 100%;
    padding: 110px 0;
    margin: 0 auto;
}

.aboutMe__students-biography {
    max-width: 600px;
    width: 100%;
}

.aboutMe__students {
    display: flex;
    padding: 66px 70px 0;
    justify-content: space-between;
}

.aboutMe__photo {
    width: 270px;
    height: 327px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.aboutMe__name {
    margin: 0;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}

.aboutMe__title {
    margin: 18px 0 26px;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}

.aboutMe__text {
    margin: 0 0 99px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    mix-blend-mode: normal;
}

.aboutMe__git {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .aboutMe {
        padding: 90px 0 0;
    }

    .aboutMe__students {
        padding: 66px 50px 91px;
    }

    .aboutMe__name {
        font-size: 40px;
        line-height: 40px;
    }

    .aboutMe__title {
        font-size: 12px;
        line-height: 18px;
        margin: 16px 0 20px;
    }

    .aboutMe__text {
        font-size: 12px;
        line-height: 18px;
        margin: 0 0 87px;
    }

    .aboutMe__students-biography {
        max-width: 364px;
    }

    .aboutMe__photo {
        width: 255px;
        height: 307px;
    }
}

@media screen and (max-width: 560px) {
    .aboutMe__students {
        flex-direction: column-reverse;
        padding: 57px 14px 67px;
        justify-content: center;
    }

    .aboutMe__photo {
        width: 292px;
        height: 337px;
    }

    .aboutMe__title {
        font-size: 11px;
        line-height: 16px;
        margin: 20px 0;
    }

    .aboutMe__name {
        font-size: 30px;
        line-height: 36px;
        margin: 39px 0 0;
    }

    .aboutMe__text {
        font-size: 11px;
        line-height: 16px;
        margin: 0 0 39px;
    }
}